* {
  font-family: Helvetica;
  text-align: center;
  font-weight: bold;
}

h1 {
  font-size: 70px;
  color: white;
}

.links {
  color: white;
  font-size: 18px;
}

.background-img {
  background-image: url("../images/the-flatiron-building.png");
}

#secondheader {
  font-size: 32px;
}

.thirdheader {
  font-size: 23;
}

.paragraphs {
  font-size: 14px;
  font-weight: normal;
}
