* {
  font-family: Helvetica;
  text-align: center;
  font-weight: bold;
}

h1 {
  font-size: 70px;
}


#links {
  color: white;
  font-size: 18px;
}

.headimage {
  background-image: url("../images/the-flatiron-building.png");
  color: white;
}

#secondheader {
  font-size: 32px;
}

.thirdheader {
  font-size: 23;
}

.paragraphs {
  font-size: 14px;
  font-weight: normal;
}

#midheader {
  font-size: 23px;
  background-image: url("../images/the-flatiron-building.png");
}

.pagefot {
  color: white;
  font-size: 11px;
  background-color: dimgray;
  text-align: left;
}
